<h1>New Article</h1>

<!-- The "form_with" helper method instntiates a form builder. In the "form_with" block we call methods like "label" and "text_field" on the form builder to output the appropriate form elements.

The "full_messages_for" method returns an array of user-friendly error messages for a specified attribute. It there are no errors for that attribute, the array will be empty. -->
<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

